<tr>
<p><td><strong>Title:</strong></td>
<td><%= @book.title %></td></p>
</tr>

<tr>
<p><td><strong>Body:</strong></td>
<td><%= @book.body %></td></p>
</tr>

<tr>
<td><%= link_to 'Edit' , edit_book_path(@book.id) %></td>
<td><%= link_to 'Back' , books_path %></td>
</tr>


